{
  "printWidth": 80,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.php",
      "options": {
        "printWidth": 80,
        "tabWidth": 4,
        "useTabs": false,
        "semi": false,
        "singleQuote": true,
        "trailingComma": "none",
        "bracketSpacing": true,
        "arrowParens": "avoid",
        "proseWrap": "always",
        "htmlWhitespaceSensitivity": "ignore"
      }
    }
  ],
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}
