@import '@/tailwind.scss';

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

*::-webkit-scrollbar {
  width: 0;
}

html,
body,
main {
  @apply h-full;
}
